$color-train: linear-gradient(45deg, #c1d402, #d4d102, #b7ff00);
$color-train-cards: linear-gradient(#c1d402 0%, #d4d102 40%);

$color-play: linear-gradient(45deg, #fd6600 0%, #ffac66 70%);
$color-play-cards: linear-gradient(#fd6600 0%, #ffac66 40%);

$color-light: #ffffff;
$black-color: #212529;
$light-gray-color: #bbb9b9;
$yellow-color: #ffff00;
$color-nav-hover: #8b1848;
$color-nav-active: #5a4079;
$color-stat: #5a4079;
$color-stat-active: #f3627b;

$tablet-width: 900px;
$mobile-width: 760px;
